#app {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  color: #2c3e50;
  margin: 60px;
}

.split {
  display: flex;
  flex-direction: row;
}

.optionList {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.shopDiv {
  flex: 3;
}

.cartDiv {
  flex: 1;
}

.shop {
  display: flex;
  flex-wrap: wrap;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}
